<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        Giúp Việc Xanh
    </title>

    <meta name="robots" content="index,follow"/>
    <meta name="revisit-after" content="1 day"/>
    <link rel="shortcut icon" href="" type="image/png"/>
    <meta property="og:type" content="website"/>
    <meta property="og:description" content="">
    <meta property="og:title" content=""/>
    <meta property="og:image" content=""/>
    <meta property="og:url" content=""/>


    <!-- GOOGLE WEB FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <!-- END OF GOOGLE WEB FONTS -->

    <!-- BOOTSTRAP & STYLES -->
    <script src='scripts/jquery.min.js' type='text/javascript'></script>
    <link href='styles/bootstrap.min.css' rel='stylesheet' type='text/css' media='all'/>
    <link href='styles/font-awesome.min.css' rel='stylesheet' type='text/css' media='all'/>
    <link href='styles/style.css' rel='stylesheet' type='text/css' media='all'/>
    <link href='styles/custom.css' rel='stylesheet' type='text/css' media='all'/>

    <style>
        #layout-page-main img {
            width: 100%;
            height: auto;
        }
    </style>
</head>

<body>
<!-- HEADER izi -->
<div class="header header1">
    <!-- TOP BAR -->
    <div class="container">
        <div class="topbar">
            <div class="row">
                <div class="col-md-6 col-lg-5 col-sm-8">
                    <ul class="phone">
                        <li><span class="fa fa-envelope"></span> Mail: support@giupviecxanh.vn</li>
                        <li><span class="fa fa-phone"></span>1900 8866 15</li>
                    </ul>
                </div>
                <div class="col-md-1 col-lg-2"></div>

            </div>
        </div> <!-- END OF TOP BAR -->
    </div>
</div>
<header>

    <div class="logo-home"><a href="/"><img src="//theme.hstatic.net/1000363855/1000474287/14/izi_logo.png?v=233"
                                            alt=""/> </a></div>

    <div class="main-menu menu-home">
        <div class="container">
            <!-- Menu -->
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#"></a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->

                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                        <ul class="nav navbar-nav navbar-left">


                            <li class=""><a href="/">Trang chủ</a></li>


                            <li class=""><a href="/pages/about-us">Giới thiệu</a></li>


                            <li class="dropdown">
                                <a href="/" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                   aria-haspopup="true"
                                   aria-expanded="false">Dịch vụ<span class="caret"></span></a>

                                <ul class="dropdown-menu">

                                    <li class=""><a href="/pages/dich-vu-giup-viec-theo-gio">Dịch vụ giúp việc theo giờ
                                        cơ bản</a>

                                    </li>

                                    <li class=""><a href="/pages/quan-gia-4-0">Dịch Vụ Giúp Việc Trọn Gói</a>

                                    </li>

                                    <li class=""><a href="/pages/dich-vu-tong-ve-sinh-doanh-nghiep">Dịch vụ Tổng vệ sinh
                                        Doanh
                                        Nghiệp</a>

                                    </li>

                                    <li class=""><a href="/pages/dich-vu-sap-xep-nha-theo-phong-cach-toi-gian">Dịch vụ
                                        sắp xếp nhà theo
                                        phong cách tối giản</a>

                                    </li>

                                    <li class=""><a href="/pages/hometay-condotel">Dịch Vụ Quản Gia cho Homestay và
                                        Condotel</a>

                                    </li>

                                    <li class=""><a href="/pages/dich-vu-giat-rem">Dịch Vụ Giặt Rèm</a>

                                    </li>

                                    <li class=""><a href="/pages/dich-vu-giat-ghe-sofa-giat-tham-giat-rem">Dịch Vụ Giặt
                                        Thảm</a>

                                    </li>

                                    <li class=""><a href="/pages/dich-vu-giat-ghe-sofa">Dịch Vụ Giặt Ghế Sofa</a>

                                    </li>

                                    <li class=""><a href="/pages/dich-vu-ve-sinh-sau-xay-dung">Dịch Vụ Vệ Sinh Sau Xây
                                        Dựng</a>

                                    </li>

                                </ul>

                            </li>


                            <li class=""><a href="/pages/album">Album</a></li>


                        </ul>


                        <ul class="nav navbar-nav navbar-right">


                            <li class=""><a href="/blogs/privacy-policy-my-butler">My Butler</a></li>


                            <li class="active"><a href="/blogs/news">BLOG</a></li>


                            <li class=""><a href="/pages/faq">FAQ</a></li>


                            <li class=""><a href="/pages/lien-he-dat-dich-vu-hoac-nhan-viec-lam">Liên hệ đặt dịch vụ</a>
                            </li>


                            <li class=""><a href="/pages/tuyendung">TUYỂN DỤNG</a></li>


                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>


        </div> <!-- /.container -->
    </div> <!-- /.main-menu -->
</header>

<!-- END OF HEADER -->
<script src='//theme.hstatic.net/1000363855/1000474287/14/jquery.matchHeight-min.js?v=233'
        type='text/javascript'></script>
<!-- /snippets/breadcrumb.liquid -->

<div id="breadcrumbs" class="flexbox-container ">
    <div class="breadcrumb-inner">
        <div class="container">
            <nav class="breadcrumb" role="navigation" aria-label="breadcrumbs">
                <a href="/" title="general.breadcrumbs.home_link_title">Trang chủ /</a>
                <span class="revicon-angle-right"></span>
                <span>BLOG</span>
            </nav>
        </div>
    </div>
</div>

<div class="blog-page">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="blog-single-post hvr-float-shadow">
                    <!-- single post -->
                    <div class="img-holder">
                        <!-- image holder -->
                        <img
                                src="//file.hstatic.net/1000363855/article/genoa_x_12_22_natural_stone_field_tile_in_ostrich_grey_5b67fdbc2eda4b4096374f30b625ae20_large.jpg"
                                alt="CÁCH LÀM SẠCH SÀN ĐÁ CỰC KỲ HIỆU QUẢ">
                        <div class="content-holder tran3s">
                            <div class="content">
                                <a href="/blogs/news/cach-lam-sach-san-da-cuc-ky-hieu-qua"><i
                                        class="fa fa-link tran3s"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="blog-post-meta">
                        <div class="blog-title-holder">
                            <h4>CÁCH LÀM SẠCH SÀN ĐÁ CỰC KỲ HIỆU QUẢ</h4>

                        </div>
                        <div class="blog-text">

                            <a href="/blogs/news/cach-lam-sach-san-da-cuc-ky-hieu-qua" class="hvr-bounce-to-right">Xem
                                thêm</a>
                        </div>
                    </div> <!-- /.blog-post-meta -->
                </div> <!-- /single post -->
            </div>


            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="blog-single-post hvr-float-shadow">
                    <!-- single post -->
                    <div class="img-holder">
                        <!-- image holder -->
                        <img
                                src="//file.hstatic.net/1000363855/article/cach_lam_sach_tham_trai_san_hieu_qua_nhanh_chong01_3177dc252fe94a8d9bd8fc6e3c392dd4_large.png"
                                alt="CÁCH LÀM SẠCH THẢM TRẢI SÀN HIỆU QUẢ, NHANH CHÓNG">
                        <div class="content-holder tran3s">
                            <div class="content">
                                <a href="/blogs/news/cach-lam-sach-tham-trai-san-hieu-qua-nhanh-chong"><i
                                        class="fa fa-link tran3s"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="blog-post-meta">
                        <div class="blog-title-holder">
                            <h4>CÁCH LÀM SẠCH THẢM TRẢI SÀN HIỆU QUẢ, NHANH CHÓNG</h4>

                        </div>
                        <div class="blog-text">

                            <a href="/blogs/news/cach-lam-sach-tham-trai-san-hieu-qua-nhanh-chong"
                               class="hvr-bounce-to-right">Xem
                                thêm</a>
                        </div>
                    </div> <!-- /.blog-post-meta -->
                </div> <!-- /single post -->
            </div>


            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="blog-single-post hvr-float-shadow">
                    <!-- single post -->
                    <div class="img-holder">
                        <!-- image holder -->
                        <img
                                src="//file.hstatic.net/1000363855/article/me-co-don_0e345ca95e7b44b1a3eaf6f82f6e9203_3c4d673e45c146ba8010185adb6d9b19_large.jpg"
                                alt="“Cảm ơn các con đã chăm sóc mẹ, nhưng mẹ hối hận vì đã sinh ra các con”">
                        <div class="content-holder tran3s">
                            <div class="content">
                                <a href="/blogs/news/cam-on-cac-con-da-cham-soc-me-nhung-me-hoi-han-vi-da-sinh-ra-cac-con"><i
                                        class="fa fa-link tran3s"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="blog-post-meta">
                        <div class="blog-title-holder">
                            <h4>“Cảm ơn các con đã chăm sóc mẹ, nhưng mẹ hối hận vì đã sinh ra các con”</h4>

                        </div>
                        <div class="blog-text">

                            <a href="/blogs/news/cam-on-cac-con-da-cham-soc-me-nhung-me-hoi-han-vi-da-sinh-ra-cac-con"
                               class="hvr-bounce-to-right">Xem thêm</a>
                        </div>
                    </div> <!-- /.blog-post-meta -->
                </div> <!-- /single post -->
            </div>


            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="blog-single-post hvr-float-shadow">
                    <!-- single post -->
                    <div class="img-holder">
                        <!-- image holder -->
                        <img
                                src="//file.hstatic.net/1000363855/article/4423426929_4e26d0f216_k_effdd7e990b64bdd8e63c09d07a2ce65_large.jpg"
                                alt="5 KINH NGHIỆM DỌN NHÀ CHO NGƯỜI NUÔI CHÓ, MÈO VÀ RỤNG NHIỀU TÓC">
                        <div class="content-holder tran3s">
                            <div class="content">
                                <a href="/blogs/news/5-kinh-nghiem-don-nha-cho-nguoi-nuoi-cho-meo-va-rung-nhieu-toc"><i
                                        class="fa fa-link tran3s"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="blog-post-meta">
                        <div class="blog-title-holder">
                            <h4>5 KINH NGHIỆM DỌN NHÀ CHO NGƯỜI NUÔI CHÓ, MÈO VÀ RỤNG NHIỀU TÓC</h4>

                        </div>
                        <div class="blog-text">

                            <a href="/blogs/news/5-kinh-nghiem-don-nha-cho-nguoi-nuoi-cho-meo-va-rung-nhieu-toc"
                               class="hvr-bounce-to-right">Xem thêm</a>
                        </div>
                    </div> <!-- /.blog-post-meta -->
                </div> <!-- /single post -->
            </div>


            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="blog-single-post hvr-float-shadow">
                    <!-- single post -->
                    <div class="img-holder">
                        <!-- image holder -->
                        <img
                                src="//file.hstatic.net/1000363855/article/dryer-sheet02_3001-600x714_b2b22ec3abfa47aa85c2deaa309db950_757b9b3b58684d0ba92b37d84b47b4b5_large.jpg"
                                alt="12 MẸO SỬ DỤNG KHĂN GIẤY THƠM – KHĂN GIẤY ƯỚT">
                        <div class="content-holder tran3s">
                            <div class="content">
                                <a href="/blogs/news/12-phuong-phap-su-dung-giay-thom-khan-giay-uot-thu-vi-nhat"><i
                                        class="fa fa-link tran3s"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="blog-post-meta">
                        <div class="blog-title-holder">
                            <h4>12 MẸO SỬ DỤNG KHĂN GIẤY THƠM – KHĂN GIẤY ƯỚT</h4>

                        </div>
                        <div class="blog-text">

                            <a href="/blogs/news/12-phuong-phap-su-dung-giay-thom-khan-giay-uot-thu-vi-nhat"
                               class="hvr-bounce-to-right">Xem thêm</a>
                        </div>
                    </div> <!-- /.blog-post-meta -->
                </div> <!-- /single post -->
            </div>


            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="blog-single-post hvr-float-shadow">
                    <!-- single post -->
                    <div class="img-holder">
                        <!-- image holder -->
                        <img src="//file.hstatic.net/1000363855/article/unnamed_0d212e6653ea4a14973df0021aea3838_large.jpg"
                             alt="BIẾN PHÒNG TẮM THÀNH SPA TẠI NHÀ">
                        <div class="content-holder tran3s">
                            <div class="content">
                                <a href="/blogs/news/bie-n-pho-ng-ta-m-tha-nh-spa-tai-nha"><i
                                        class="fa fa-link tran3s"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="blog-post-meta">
                        <div class="blog-title-holder">
                            <h4>BIẾN PHÒNG TẮM THÀNH SPA TẠI NHÀ</h4>

                        </div>
                        <div class="blog-text">

                            <a href="/blogs/news/bie-n-pho-ng-ta-m-tha-nh-spa-tai-nha" class="hvr-bounce-to-right">Xem
                                thêm</a>
                        </div>
                    </div> <!-- /.blog-post-meta -->
                </div> <!-- /single post -->
            </div>


            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="blog-single-post hvr-float-shadow">
                    <!-- single post -->
                    <div class="img-holder">
                        <!-- image holder -->
                        <img src="//file.hstatic.net/1000363855/article/unnamed__7__c83bfe4d07004cc3a23e7b28d6477a5f_large.jpg"
                             alt="DẠY TRẺ LỐI SỐNG TỐI GIẢN NGAY TỪ NHỎ">
                        <div class="content-holder tran3s">
                            <div class="content">
                                <a href="/blogs/news/day-tre-loi-song-toi-gian-ngay-tu-nho"><i
                                        class="fa fa-link tran3s"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="blog-post-meta">
                        <div class="blog-title-holder">
                            <h4>DẠY TRẺ LỐI SỐNG TỐI GIẢN NGAY TỪ NHỎ</h4>

                        </div>
                        <div class="blog-text">

                            <a href="/blogs/news/day-tre-loi-song-toi-gian-ngay-tu-nho" class="hvr-bounce-to-right">Xem
                                thêm</a>
                        </div>
                    </div> <!-- /.blog-post-meta -->
                </div> <!-- /single post -->
            </div>


            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="blog-single-post hvr-float-shadow">
                    <!-- single post -->
                    <div class="img-holder">
                        <!-- image holder -->
                        <img src="//file.hstatic.net/1000363855/article/img_1697_c91117caf2e14fa5bede8ca07e49f760_large.jpg"
                             alt="BAN CÔNG XANH">
                        <div class="content-holder tran3s">
                            <div class="content">
                                <a href="/blogs/news/ban-cong-xanh"><i class="fa fa-link tran3s"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="blog-post-meta">
                        <div class="blog-title-holder">
                            <h4>BAN CÔNG XANH</h4>

                        </div>
                        <div class="blog-text">

                            <a href="/blogs/news/ban-cong-xanh" class="hvr-bounce-to-right">Xem thêm</a>
                        </div>
                    </div> <!-- /.blog-post-meta -->
                </div> <!-- /single post -->
            </div>


            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="blog-single-post hvr-float-shadow">
                    <!-- single post -->
                    <div class="img-holder">
                        <!-- image holder -->
                        <img src="//file.hstatic.net/1000363855/article/unnaed__7__2bd1d5c222784f2e8a0cdf20efd27470_large.jpg"
                             alt="CÁC BƯỚC CƠ BẢN ĐỂ GIÚP CON HÌNH THÀNH THÓI QUEN LÀM VIỆC NHÀ">
                        <div class="content-holder tran3s">
                            <div class="content">
                                <a href="/blogs/news/cac-buoc-co-ban-de-giup-con-hinh-thanh-thoi-quen-lam-viec-nha"><i
                                        class="fa fa-link tran3s"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="blog-post-meta">
                        <div class="blog-title-holder">
                            <h4>CÁC BƯỚC CƠ BẢN ĐỂ GIÚP CON HÌNH THÀNH THÓI QUEN LÀM VIỆC NHÀ</h4>

                        </div>
                        <div class="blog-text">

                            <a href="/blogs/news/cac-buoc-co-ban-de-giup-con-hinh-thanh-thoi-quen-lam-viec-nha"
                               class="hvr-bounce-to-right">Xem thêm</a>
                        </div>
                    </div> <!-- /.blog-post-meta -->
                </div> <!-- /single post -->
            </div>


        </div> <!-- /.row -->

        <div class="page-pagination">
            <!-- Begin: Phân trang blog -->
            <div class="clear"></div>
            <div class="text-center" style="height: 159px;">

                <div class="pagination">
                    <ul class="pagination">


                        <li class="hidden-phone current"><a title="1" href="" class="pagenav">1</a></li>


                        <li class="hidden-phone"><a title="2" href="/blogs/news?page=2" class="pagenav">2</a></li>


                        <li class="hidden-phone"><a title="3" href="/blogs/news?page=3" class="pagenav">3</a></li>


                        <li><a title="Trang sau" href="/blogs/news?page=2" class="pagenav"><i
                                class="fa fa-chevron-right"></i></a>
                        </li>

                    </ul>
                    <input type="hidden" name="limitstart" value="0"/>
                </div>

            </div>
            <!-- End: Phân trang blog -->
        </div> <!-- /.page-pagination -->
    </div> <!-- /.container -->
</div> <!-- /.blog-page -->


<script>
    $(document).ready(function () {
        setTimeout(function () {
            $(".col-lg-4.col-md-4.col-sm-6.col-xs-12").matchHeight();
        }, 500)

    })
</script>


<!-- FOOTER -->
<!-- Footer ______________________________ -->
<footer>
    <div class="opacity">
        <div class="top-footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <div class="footer-logo float-left">
                            <a href="/"><img
                                    src="//theme.hstatic.net/1000363855/1000474287/14/izi_logo_footer.png?v=233"
                                    alt="logo-footer"></a>
                            <p>Giúp việc xanh là dịch vụ được tạo ra bởi công ty Cổ Phần Giải Pháp Công Nghệ Việt Hà với
                                mục đích
                                cung cấp giải pháp về việc quản lý, sắp xếp và duy trì môi trường sống trong ngôi nhà
                                bạn. Với kinh
                                nghiệm 5 năm cùng các chuyên gia đầu ngành sẽ giúp các bạn tiết kiệm thời gian và đạt
                                được sự hài lòng
                                trong chính ngôi nhà mình. Chúng tôi cam kết mang đến chất lượng dịch vụ tốt nhất cùng
                                mức giá hợp lí
                                nhất.
                            </p>
                            <div class="footer-address float-left footer-link">
                                <h4>THÔNG TIN LIÊN HỆ</h4>
                                <ul>
                                    <li><span class="fa fa-home"></span>
                                        <p>số 6 đường số 5, KDC Vạn Phúc, QL13, P.Hiệp Bình Phước, Thủ Đức, TP. Hồ Chí
                                            Minh</p>
                                    </li>
                                    <li><span class="fa fa-phone"></span>
                                        <p> 1900 8866 15</p>
                                    </li>
                                    <li><span class="fa fa-mobile"></span>
                                        <p>0888 074 880</p>
                                    </li>
                                    <li><span class="fa fa-envelope"></span>
                                        <p>support@giupviecxanh.vn</p>
                                    </li>
                                </ul>
                            </div>

                        </div> <!-- /.footer-logo -->
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <div class="footer-link float-left">
                            <h4>DỊCH VỤ GIÚP VIỆC THEO GIỜ 4.0</h4>
                            <ul class="tran3s">

                            </ul>
                            <h4 class="link2">DỊCH VỤ SẮP XẾP NHÀ PHONG CÁCH TỐI GIẢN</h4>
                            <ul class="tran3s">

                            </ul>

                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <div class="footer-address footer-link float-left">
                            <h4>ĐĂNG KÍ NHẬN THÔNG TIN KHUYẾN MÃI</h4>
                            <p>Cập nhật thông tin khuyến mại nhanh nhất và hưởng quyền lợi giảm giá riêng biệt</p>
                            <form method="post" class="mailchimp-form" action="/account/contact">


                                <div class="input-group">
                                    <input class="form-control news" type="email" placeholder="Nhập Email"
                                           name="contact[email]"
                                           id="Email" value="" required/>
                                    <input type="hidden" name="contact[tags]" value="newsletter">
                                    <div>
                                        <input class="btn btn-default" type="submit" name="submit" value="GỬI"/>
                                    </div>
                                </div><!-- /input-group -->
                                <ul class="social-links">
                                    <li><a href="https://www.facebook.com/giupviecxanhhcm" title="Facebook"><i
                                            class="fa fa-facebook"></i></a></li>
                                    <li><a href="https://plus.google.com/" title="Google Plus"><i
                                            class="fa fa-google-plus"></i></a>
                                    </li>
                                    <li><a href="https://www.linkedin.com/" title="Linkedin"><i
                                            class="fa fa-linkedin"></i></a></li>
                                </ul>

                                <div class="footer-link">
                                    <h4>ĐỊA CHỈ LIÊN HỆ</h4>
                                    <div id="map">
                                        <iframe
                                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3918.6108487345537!2d106.70924331480127!3d10.8410635922777!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x3c7df97c890b9024!2zR2nDunAgVmnhu4djIFhhbmg!5e0!3m2!1svi!2s!4v1576123661436!5m2!1svi!2s"
                                                width="100%" height="450" frameborder="0" style="border:0;"
                                                allowfullscreen=""></iframe>
                                    </div>
                                </div>


                            </form>
                        </div>
                    </div>

                </div>
            </div> <!-- /.conatiner -->
        </div> <!-- /.top-footer -->
        <div class="bottom-footer clear-fix">
            <div class="container">
                <div class="col-lg-6 col-md-6">
                    <p class="text-left">Powered by <a href="https://www.haravan.com/?ref=kadi"
                                                       target="_blank">HARAVAN</a></p>
                </div>
                <div class="col-lg-6 col-md-6">
                    <p class="text-right">Copyright © Giúp việc xanh</p>
                </div>
            </div>
        </div> <!-- /.bottom-footer -->
    </div> <!-- /.opacity -->
</footer>
<button class="scroll-top tran3s p-color">
    <i class="fa fa-angle-double-up" aria-hidden="true"></i>
</button>
<!-- END OF FOOTER -->

<!-- JAVASCRIPT FILES -->

<script src='scripts/bootstrap.min.js?v=233' type='text/javascript'></script>
<script src='scripts/owl.carousel.js' type='text/javascript'></script>
<link href='styles/owl.carousel.css' rel='stylesheet' type='text/css' media='all'/>

<!-- JAVASCRIPT scroll-top -->
<script>
    $(function () {
        $(window).scroll(function () {
            if ($(this).scrollTop() > 100) $('.scroll-top').fadeIn();
            else $('.scroll-top').fadeOut();
        });
        $('.scroll-top').click(function () {
            $('body,html').animate({scrollTop: 0}, 'slow');
        });
    });
</script>
<!-- end JAVASCRIPT scroll-top -->
<script>
    $('.count').each(function () {
        $(this).prop('Counter', 0).animate({
            Counter: $(this).text()
        }, {
            duration: 1000,
            easing: 'swing',
            step: function (now) {
                $(this).text(Math.ceil(now));
            }
        });
    });

</script>
<script>
    // Instantiate the Bootstrap carousel
    $('.multi-item-carousel').carousel({
        interval: false
    });

    // for every slide in carousel, copy the next slide's item in the slide.
    // Do the same for the next, next item.
    $('.multi-item-carousel .item').each(function () {
        var next = $(this).next();
        if (!next.length) {
            next = $(this).siblings(':first');
        }
        next.children(':first-child').clone().appendTo($(this));

        if (next.next().length > 0) {
            next.next().children(':first-child').clone().appendTo($(this));
        } else {
            $(this).siblings(':first').children(':first-child').clone().appendTo($(this));
        }
    });
</script>
<!-- END OF JAVASCRIPT FILES -->

</body>

</html>
