<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
      Giúp Việc Xanh
    </title>
  
    <meta name="robots" content="index,follow" />
    <meta name="revisit-after" content="1 day" />
    <link rel="shortcut icon" href="" type="image/png" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="">
    <meta property="og:title" content="" />
    <meta property="og:image" content="" />
    <meta property="og:url" content="" />
  
  
    <!-- GOOGLE WEB FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <!-- END OF GOOGLE WEB FONTS -->
  
    <!-- BOOTSTRAP & STYLES -->
    <script src='scripts/jquery.min.js' type='text/javascript'></script>
    <link href='styles/bootstrap.min.css' rel='stylesheet' type='text/css' media='all' />
    <link href='styles/font-awesome.min.css' rel='stylesheet' type='text/css' media='all' />
    <link href='styles/style.css' rel='stylesheet' type='text/css' media='all' />
    <link href='styles/custom.css' rel='stylesheet' type='text/css' media='all' />
  
    <style>
      #layout-page-main img {
        width: 100%;
        height: auto;
      }
    </style>
  </head>

	<body>
		<!-- HEADER izi -->
		<div class="header header1">
	<!-- TOP BAR -->
	<div class="container">  
		<div class="topbar">
			<div class="row">
				<div class="col-md-6 col-lg-5 col-sm-8">
					<ul class="phone">
						<li><span class="fa fa-envelope"></span> Mail: support@giupviecxanh.vn</li>
						<li><span class="fa fa-phone"></span>1900 8866 15</li>       
					</ul>
				</div>
				<div class="col-md-1 col-lg-2"></div>
				
			</div>
		</div> <!-- END OF TOP BAR -->
	</div>
</div>
<header>
	
	<div class="logo-home"><a href="/"><img src="//theme.hstatic.net/1000363855/1000474287/14/izi_logo.png?v=233" alt=""/> </a></div>
	
	<div class="main-menu menu-home">
		<div class="container">
			<!-- Menu -->								     
			<nav class="navbar navbar-default">
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#"></a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->

		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

			<ul class="nav navbar-nav navbar-left">

				
				

				<li class=""><a href="/">Trang chủ</a></li>
									
				
				

				<li class=""><a href="/pages/about-us">Giới thiệu</a></li>
									
				
				    
				<li class="dropdown">
					<a href="/" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dịch vụ<span class="caret"></span></a>

					<ul class="dropdown-menu">
						
						<li class=""><a href="/pages/dich-vu-giup-viec-theo-gio">Dịch vụ giúp việc theo giờ cơ bản</a>
							
						</li>
						
						<li class=""><a href="/pages/quan-gia-4-0">Dịch Vụ Giúp Việc Trọn Gói</a>
							
						</li>
						
						<li class=""><a href="/pages/dich-vu-tong-ve-sinh-doanh-nghiep">Dịch vụ Tổng vệ sinh Doanh Nghiệp</a>
							
						</li>
						
						<li class=""><a href="/pages/dich-vu-sap-xep-nha-theo-phong-cach-toi-gian">Dịch vụ sắp xếp nhà theo phong cách tối giản</a>
							
						</li>
						
						<li class=""><a href="/pages/hometay-condotel">Dịch Vụ Quản Gia cho Homestay và Condotel</a>
							
						</li>
						
						<li class=""><a href="/pages/dich-vu-giat-rem">Dịch Vụ Giặt Rèm</a>
							
						</li>
						
						<li class=""><a href="/pages/dich-vu-giat-ghe-sofa-giat-tham-giat-rem">Dịch Vụ Giặt Thảm</a>
							
						</li>
						
						<li class=""><a href="/pages/dich-vu-giat-ghe-sofa">Dịch Vụ Giặt Ghế Sofa</a>
							
						</li>
						
						<li class=""><a href="/pages/dich-vu-ve-sinh-sau-xay-dung">Dịch Vụ Vệ Sinh Sau Xây Dựng</a>
							
						</li>
						
					</ul>

				</li>
									
				
				

				<li class=""><a href="/pages/album">Album</a></li>
									
				                  
			</ul>


			<ul class="nav navbar-nav navbar-right">
				
				
				<li class=""><a href="/blogs/privacy-policy-my-butler">My Butler</a></li>
									
				
				
				<li class=""><a href="/blogs/news">BLOG</a></li>
									
				
				
				<li class="active"><a href="/pages/faq">FAQ</a></li>
									
				
				
				<li class=""><a href="/pages/lien-he-dat-dich-vu-hoac-nhan-viec-lam">Liên hệ đặt dịch vụ</a></li>
									
				
				
				<li class=""><a href="/pages/tuyendung">TUYỂN DỤNG</a></li>
									
				                  
			</ul>
		</div><!-- /.navbar-collapse -->
	</div><!-- /.container-fluid -->
</nav>				     

			
		</div> <!-- /.container -->
	</div> <!-- /.main-menu -->
</header>

		<!-- END OF HEADER -->
		<!-- /snippets/breadcrumb.liquid -->

<div id="breadcrumbs" class="flexbox-container " >

  

  <div class="breadcrumb-inner">
    <div class="container">
      <nav class="breadcrumb" role="navigation" aria-label="breadcrumbs">
        <a href="/" title="general.breadcrumbs.home_link_title">Trang chủ /</a>

        

        <span class="revicon-angle-right"></span>
        <span>FAQ</span>

        
      </nav>
    </div>
  </div>
</div>

	
<div class="container">
	<div class="row">

		<div class="col-md-12">
			<div class="theme-title center">
				
				<h2 style="text-align:center">Những câu hỏi thường gặp</h2>
				
			</div>
			
			<p class="subs">Các câu hỏi quan tâm nhiều nhất.</p>
			
			<div class="faq-panel">
				<div class="panel-group theme-accordion" id="accordion">
					
					
					
					
					 
					<div class="panel">
						<div class="panel-heading active-panel">
							<h6 title="" class="panel-title">
								<a data-toggle="collapse" data-parent="#accordion" href="#collapse1">NHÂN VIÊN BÊN CÔNG TY BẠN CÓ LÀM VIỆC THỨ 7 VÀ CHỦ NHẬT KHÔNG ?</a>
							</h6>
						</div>
						<div id="collapse1" class="panel-collapse collapse in">
							<div class="panel-body">
								<div>Bên công ty chúng tôi làm việc tất cả các ngày trong tuần. Bạn có thể liên hệ đến tổng đài : 1900 8866 15 hoặc Hot line: 088 8074 880 dể được tư vấn và hỗ trợ tốt nhất.</div>
							</div>
						</div>
					</div>
					 
					
					
					
					
					 
					<div class="panel">
						<div class="panel-heading ">
							<h6 title="" class="panel-title">
								<a data-toggle="collapse" data-parent="#accordion" href="#collapse2">ĐỊA CHỈ CỤ THỂ CÔNG TY BẠN Ở ĐÂU ?</a>
							</h6>
						</div>
						<div id="collapse2" class="panel-collapse collapse ">
							<div class="panel-body">
								<div>Chào bạn ! Công ty chúng tôi địa chỉ cụ thể ở: số 6 đường số 5, KDC Vạn Phúc, QL13, P.Hiệp Bình Phước, Thủ Đức, TP. Hồ Chí Minh</div>
							</div>
						</div>
					</div>
					 
					
					
					
					
					 
					<div class="panel">
						<div class="panel-heading ">
							<h6 title="" class="panel-title">
								<a data-toggle="collapse" data-parent="#accordion" href="#collapse3">DỊCH VỤ CÓ THAY ĐỔI NHÂN VIÊN THƯỜNG XUYÊN KHÔNG?</a>
							</h6>
						</div>
						<div id="collapse3" class="panel-collapse collapse ">
							<div class="panel-body">
								<div>Chúng tôi luôn đảm bảo nhân viên sẽ làm việc cố dịnh và chỉ thay đổi nhân viên trong các trường hợp nhân viên ốm hoặc có các vấn đề khác về sức khỏe.</div>
							</div>
						</div>
					</div>
					 
					
					
					
					
					 
					<div class="panel">
						<div class="panel-heading ">
							<h6 title="" class="panel-title">
								<a data-toggle="collapse" data-parent="#accordion" href="#collapse4">CÔNG TY BẠN CÓ ĐÀO TẠO NGƯỜI GIÚP VIỆC KHÔNG?</a>
							</h6>
						</div>
						<div id="collapse4" class="panel-collapse collapse ">
							<div class="panel-body">
								<div>Để đảm bảo tốt dịch vụ của công ty, chúng tôi liên tục tổ chức và đào tạo nhân viên một cách tiêu chuẩn nhất về công việc, cách ứng xử và xử lý công việc tốt nhất.</div>
							</div>
						</div>
					</div>
					 
					
					
					
					
					 
					<div class="panel">
						<div class="panel-heading ">
							<h6 title="" class="panel-title">
								<a data-toggle="collapse" data-parent="#accordion" href="#collapse5">TÔI CÓ THỂ THAY ĐỔI GIỜ LÀM VIỆC ĐÃ ĐẶT KHÔNG?</a>
							</h6>
						</div>
						<div id="collapse5" class="panel-collapse collapse ">
							<div class="panel-body">
								<div>Bạn có thể thay đổi giờ làm việc của nhân viên truóc 12h. Chúng tôi sẽ bố trí lịch làm việc bù sau đó.</div>
							</div>
						</div>
					</div>
					 
					
					
					
					
					 
					<div class="panel">
						<div class="panel-heading ">
							<h6 title="" class="panel-title">
								<a data-toggle="collapse" data-parent="#accordion" href="#collapse6">TRONG TRƯỜNG HỢP NHÂN VIÊN ĐÁNH CẮP TÀI SẢN HAY GÂY ĐỔ VỠ, TAI NẠN THÌ GIẢI QUYẾT THẾ NÀO?</a>
							</h6>
						</div>
						<div id="collapse6" class="panel-collapse collapse ">
							<div class="panel-body">
								<div>Chúng tôi đảm bảo sẽ bồi thường và hỗ trợ bạn trong mọi trường hợp được  xác định do nhân viên chúng tôi gây ra tổn thất cho bạn. </div>
							</div>
						</div>
					</div>
					 
					
					
					
					
					 
					<div class="panel">
						<div class="panel-heading ">
							<h6 title="" class="panel-title">
								<a data-toggle="collapse" data-parent="#accordion" href="#collapse7">LÀM SAO ĐẢM BẢO NHÂN VIÊN GIÚP VIỆC SẼ LÀM SẠCH VÀ KHIẾN TÔI HÀI LÒNG?</a>
							</h6>
						</div>
						<div id="collapse7" class="panel-collapse collapse ">
							<div class="panel-body">
								<div>Nếu bạn không hài lòng, nhân viên chúng tôi sẽ quay lại tiếp tục làm cho đến khi bạn hài lòng thì thôi. </div>
							</div>
						</div>
					</div>
					 
					
				</div>

			</div>
		</div>
		<div class="col-md-12">
			<div id="contactform">
				<div class="theme-title center">
					<h2 style="text-align:center">CÂU HỎI</h2>
				</div>
				<form>
					<div class="row">
						<div class="col-sm-12">
							<label for="contactFormName">Họ Tên:*</label> 
							<input required type="text" class="form-control" name="customer[name]" id="contactFormName" tabindex="1" value="" />
							<label for="contactFormEmail">Email:*</label> 
							<input required type="email" class="form-control" name="customer[email]" id="contactFormEmail" tabindex="2" value=""/>
						</div>
						<div class="col-sm-12">
							<label for="contactFormName">Số điện thoại:*</label> 
							<input required type="text" class="form-control" name="customer[phone]" id="contactFormPhone" tabindex="1" value="" />

						</div>
						<div class="col-sm-12">
							<label for="contactFormMessage">Tin nhắn:*</label> 
							<textarea  required class="form-control" name="customer[note]" id="contactFormMessage" tabindex="4"></textarea>
						</div>
					</div>
					<p><input name="submit" type="submit" id="submit" class="submit" value="Gửi" tabindex="5" /></p>
				</form>
			</div>
		</div>
	</div>
</div>
<script>
$(document).ready(function(){
	$("#contactform form").submit(function(e){
		e.preventDefault();
		var name = $(this).find("#contactFormName").val();
		var phone = $(this).find("#contactFormPhone").val();
		var email = $(this).find("#contactFormEmail").val();
		var message = $(this).find("#contactFormMessage").val();
		$.post('/account/contact', {
			form_type:"customer",
			utf8: "✓",
			"contact": {
				"tags":  message,
				"last_name":name,
				"first_name": phone,
				"email": email
			}
		}, function(r){
			alert('Gửi câu hỏi thành công');
			location.reload();
		});
	})
})

</script>

    

		<!-- FOOTER -->
		<!-- Footer ______________________________ -->
<footer>
	<div class="opacity">
		<div class="top-footer">
			<div class="container">
				<div class="row">
					<div class="col-lg-4 col-md-4 col-sm-4">
						<div class="footer-logo float-left">
							<a href="/"><img src="//theme.hstatic.net/1000363855/1000474287/14/izi_logo_footer.png?v=233" alt="logo-footer"></a>
							<p>Giúp việc xanh là dịch vụ được tạo ra bởi công ty Cổ Phần Giải Pháp Công Nghệ Việt Hà với mục đích cung cấp giải pháp về việc quản lý, sắp xếp và duy trì môi trường sống trong ngôi nhà bạn. Với kinh nghiệm 5 năm cùng các chuyên gia đầu ngành sẽ giúp các bạn tiết kiệm thời gian và đạt được sự hài lòng trong chính ngôi nhà mình. Chúng tôi cam kết mang đến chất lượng dịch vụ tốt nhất cùng mức giá hợp lí nhất.
</p>
<div class="footer-address float-left footer-link">
							<h4>THÔNG TIN LIÊN HỆ</h4>
							<ul>
								<li><span class="fa fa-home"></span> <p>số 6 đường số 5, KDC Vạn Phúc, QL13, P.Hiệp Bình Phước, Thủ Đức, TP. Hồ Chí Minh</p></li>
								<li><span class="fa fa-phone"></span><p> 1900 8866 15</p></li>
								<li><span class="fa fa-mobile"></span> <p>0888 074 880</p></li>
								<li><span class="fa fa-envelope"></span> <p>support@giupviecxanh.vn</p></li>
							</ul>
						</div>
							
						</div> <!-- /.footer-logo -->
					</div>
					<div class="col-lg-4 col-md-4 col-sm-4">
						<div class="footer-link float-left">							
							<h4>DỊCH VỤ GIÚP VIỆC THEO GIỜ 4.0</h4>
								<ul class="tran3s">
										
								</ul>
							<h4 class="link2">DỊCH VỤ SẮP XẾP NHÀ PHONG CÁCH TỐI GIẢN</h4>
							<ul class="tran3s">
									
							</ul>
														
						</div>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-4">
						<div class="footer-address footer-link float-left">
							<h4>ĐĂNG KÍ NHẬN THÔNG TIN KHUYẾN MÃI</h4>
							<p>Cập nhật thông tin khuyến mại nhanh nhất  và hưởng quyền lợi giảm giá riêng biệt</p>
					 <form method="post" class="mailchimp-form" action="/account/contact">	
						
						
					   <div class="input-group">
							<input class="form-control news" type="email" placeholder="Nhập Email" name="contact[email]" id="Email" value="" required/>
										 <input type="hidden" name="contact[tags]" value="newsletter">	
									<div>
										 <input class="btn btn-default" type="submit" name="submit" value="GỬI" />
									</div>
						</div><!-- /input-group -->
						<ul class="social-links">
              <li><a href="https://www.facebook.com/giupviecxanhhcm" title="Facebook"><i class="fa fa-facebook"></i></a></li>
              <li><a href="https://plus.google.com/" title="Google Plus"><i class="fa fa-google-plus"></i></a></li>
              <li><a href="https://www.linkedin.com/" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
            </ul>

							<div class="footer-link">
							<h4>ĐỊA CHỈ LIÊN HỆ</h4>
							<div id="map"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3918.6108487345537!2d106.70924331480127!3d10.8410635922777!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x3c7df97c890b9024!2zR2nDunAgVmnhu4djIFhhbmg!5e0!3m2!1svi!2s!4v1576123661436!5m2!1svi!2s"  width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe></div>
							</div>

					   
						</form>
						</div>
					</div>
				
				</div>
			</div> <!-- /.conatiner -->
		</div> <!-- /.top-footer -->
		<div class="bottom-footer clear-fix">
			<div class="container">
				<div class="col-lg-6 col-md-6"><p class="text-left">Powered by <a href="https://www.haravan.com/?ref=kadi" target="_blank">HARAVAN</a></p></div>
				<div class="col-lg-6 col-md-6"><p class="text-right">Copyright © Giúp việc xanh</p></div>
			</div>
		</div> <!-- /.bottom-footer -->
	</div> <!-- /.opacity -->
</footer>
<button class="scroll-top tran3s p-color" >
	<i class="fa fa-angle-double-up" aria-hidden="true"></i>
</button>
		<!-- END OF FOOTER -->

		<!-- JAVASCRIPT FILES -->
		
    <script src='scripts/bootstrap.min.js?v=233' type='text/javascript'></script>
    <script src='scripts/owl.carousel.js' type='text/javascript'></script>
    <link href='styles/owl.carousel.css' rel='stylesheet' type='text/css' media='all' />

<!-- JAVASCRIPT scroll-top -->
	<script>
		$(function(){
		$(window).scroll(function () {
		if ($(this).scrollTop() > 100) $('.scroll-top').fadeIn();
		else $('.scroll-top').fadeOut();
		});
		$('.scroll-top').click(function () {
		$('body,html').animate({scrollTop: 0}, 'slow');
		});
		});
	</script>
<!-- end JAVASCRIPT scroll-top -->
<script>
		$('.count').each(function () {
			$(this).prop('Counter',0).animate({
				Counter: $(this).text()
			}, {
				duration: 1000,
				easing: 'swing',
				step: function (now) {
					$(this).text(Math.ceil(now));
				}
			});
		});
		
  </script>
<script>
// Instantiate the Bootstrap carousel
$('.multi-item-carousel').carousel({
  interval: false
});

// for every slide in carousel, copy the next slide's item in the slide.
// Do the same for the next, next item.
$('.multi-item-carousel .item').each(function(){
  var next = $(this).next();
  if (!next.length) {
    next = $(this).siblings(':first');
  }
  next.children(':first-child').clone().appendTo($(this));
  
  if (next.next().length>0) {
    next.next().children(':first-child').clone().appendTo($(this));
  } else {
  	$(this).siblings(':first').children(':first-child').clone().appendTo($(this));
  }
});
</script>  

	</body>
</html>