.elementor-646 .elementor-element.elementor-element-bcaa3c6>.elementor-container {
    max-width: 1170px;
}

.elementor-646 .elementor-element.elementor-element-bcaa3c6 {
    margin-top: 0px;
    margin-bottom: -75px;
    padding: 5px 0px 5px 0px;
    z-index: 10;
}

.elementor-646 .elementor-element.elementor-element-7f24b7b>.elementor-element-populated {
    margin: 0px 0px 0px 40px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 40px;
}

.elementor-646 .elementor-element.elementor-element-bd03a0f {
    text-align: left;
}

.elementor-646 .elementor-element.elementor-element-bd03a0f img {
    width: 100%;
}

.elementor-bc-flex-widget .elementor-646 .elementor-element.elementor-element-0bbe159.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-646 .elementor-element.elementor-element-0bbe159.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-646 .elementor-element.elementor-element-3d2b091 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper:not(.active) .jkit-menu,
.elementor-646 .elementor-element.elementor-element-3d2b091 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper:not(.active) .jkit-menu>li>a {
    display: flex;
}

.elementor-646 .elementor-element.elementor-element-3d2b091 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu {
    justify-content: flex-end;
}

.elementor-646 .elementor-element.elementor-element-3d2b091 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu .menu-item .sub-menu {
    left: unset;
    top: 100%;
    right: unset;
    bottom: unset;
}

.elementor-646 .elementor-element.elementor-element-3d2b091 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper {
    height: 44px;
}

.elementor-646 .elementor-element.elementor-element-3d2b091 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu>li>a {
    font-family: "Heebo", Sans-serif;
    font-size: 16px;
    font-weight: 600;
    padding: 0px 20px 0px 20px;
    color: #FFFFFF;
    text-transform: uppercase;
}

.elementor-646 .elementor-element.elementor-element-3d2b091 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu>li>a svg {
    fill: #FFFFFF;
}

.elementor-646 .elementor-element.elementor-element-3d2b091 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu>li:hover>a {
    color: var(--e-global-color-cb49a55);
}

.elementor-646 .elementor-element.elementor-element-3d2b091 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu>li:hover>a svg {
    fill: var(--e-global-color-cb49a55);
}

.elementor-646 .elementor-element.elementor-element-3d2b091 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu>li.current-menu-item>a,
.elementor-646 .elementor-element.elementor-element-3d2b091 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu>li.current-menu-ancestor>a {
    /* color: var(--e-global-color-cb49a55); */
}

.elementor-646 .elementor-element.elementor-element-3d2b091 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu>li.current-menu-item>a svg,
.elementor-646 .elementor-element.elementor-element-3d2b091 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu>li.current-menu-ancestor>a svg {
    fill: var(--e-global-color-cb49a55);
}

.elementor-646 .elementor-element.elementor-element-3d2b091 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu li.menu-item-has-children>a i,
.elementor-646 .elementor-element.elementor-element-3d2b091 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu li.menu-item-has-children>a svg {
    border-style: solid;
    border-width: 0px 0px 0px 0px;
}

.elementor-646 .elementor-element.elementor-element-3d2b091 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu .sub-menu li a {
    font-family: var(--e-global-typography-accent-font-family), Sans-serif;
    font-size: var(--e-global-typography-accent-font-size);
    font-weight: var(--e-global-typography-accent-font-weight);
    padding: 5px 0px 5px 0px;
}

.elementor-646 .elementor-element.elementor-element-3d2b091 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu .sub-menu li>a {
    color: #000000;
}

.elementor-646 .elementor-element.elementor-element-3d2b091 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu .sub-menu li>a svg {
    fill: #000000;
}

.elementor-646 .elementor-element.elementor-element-3d2b091 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu .sub-menu li:hover>a {
    color: var(--e-global-color-cb49a55);
}

.elementor-646 .elementor-element.elementor-element-3d2b091 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu .sub-menu li:hover>a svg {
    fill: var(--e-global-color-cb49a55);
}

.elementor-646 .elementor-element.elementor-element-3d2b091 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu .sub-menu li.current-menu-item>a {
    color: var(--e-global-color-cb49a55);
}

.elementor-646 .elementor-element.elementor-element-3d2b091 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu .sub-menu li.current-menu-item>a svg {
    fill: var(--e-global-color-cb49a55);
}

.elementor-646 .elementor-element.elementor-element-3d2b091 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu li.menu-item-has-children .sub-menu {
    padding: 10px 20px 10px 20px;
    min-width: 220px;
}

.elementor-646 .elementor-element.elementor-element-3d2b091 .jeg-elementor-kit.jkit-nav-menu .jkit-hamburger-menu {
    float: right;
    background-color: #02010100;
    border-style: solid;
}

.elementor-646 .elementor-element.elementor-element-3d2b091 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-nav-identity-panel .jkit-close-menu {
    background-color: var(--e-global-color-cb49a55);
    border-style: solid;
}

.elementor-646 .elementor-element.elementor-element-3d2b091 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-nav-identity-panel .jkit-nav-site-title .jkit-nav-logo img {
    object-fit: cover;
}

.elementor-646 .elementor-element.elementor-element-3d2b091>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

.elementor-646 .elementor-element.elementor-element-59d294f .elementor-button {
    font-family: var(--e-global-typography-1039f34-font-family), Sans-serif;
    font-size: var(--e-global-typography-1039f34-font-size);
    font-weight: var(--e-global-typography-1039f34-font-weight);
    line-height: var(--e-global-typography-1039f34-line-height);
    letter-spacing: var(--e-global-typography-1039f34-letter-spacing);
    word-spacing: var(--e-global-typography-1039f34-word-spacing);
    fill: #FFFFFF;
    color: #FFFFFF;
    background-color: #0D5A45;
    border-radius: 0px 0px 0px 0px;
    padding: 15px 32px 15px 32px;
}

.elementor-646 .elementor-element.elementor-element-59d294f>.elementor-widget-container {
    margin: 22px 0px 0px 0px;

}

@media(min-width:768px) {
    .elementor-646 .elementor-element.elementor-element-7f24b7b {
        width: 17.178%;
    }

    .elementor-646 .elementor-element.elementor-element-0bbe159 {
        width: 68.467%;
    }

    .elementor-646 .elementor-element.elementor-element-199d525 {
        width: 14.019%;
    }
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-646 .elementor-element.elementor-element-7f24b7b {
        width: 30%;
    }

    .elementor-646 .elementor-element.elementor-element-0bbe159 {
        width: 70%;
    }
}

@media(max-width:1024px) {
    .elementor-646 .elementor-element.elementor-element-bcaa3c6 {
        padding: 10px 20px 10px 20px;
    }

    .elementor-646 .elementor-element.elementor-element-7f24b7b>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }

    .elementor-646 .elementor-element.elementor-element-bd03a0f img {
        width: 76%;
    }

    .elementor-646 .elementor-element.elementor-element-3d2b091 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu {
        justify-content: flex-start;
    }

    .elementor-646 .elementor-element.elementor-element-3d2b091 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper {
        height: 80px;
    }

    .elementor-646 .elementor-element.elementor-element-3d2b091 .jeg-elementor-kit.jkit-nav-menu.break-point-mobile .jkit-menu-wrapper {
        background-color: #000000;
    }

    .elementor-646 .elementor-element.elementor-element-3d2b091 .jeg-elementor-kit.jkit-nav-menu.break-point-tablet .jkit-menu-wrapper {
        background-color: #000000;
    }

    .elementor-646 .elementor-element.elementor-element-3d2b091 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu>li>a {
        padding: 0px 20px 10px 20px;
    }

    .elementor-646 .elementor-element.elementor-element-3d2b091 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu .sub-menu li a {
        font-size: var(--e-global-typography-accent-font-size);
    }

    .elementor-646 .elementor-element.elementor-element-3d2b091 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu .sub-menu li>a {
        color: #FFFFFF;
    }

    .elementor-646 .elementor-element.elementor-element-3d2b091 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu .sub-menu li>a svg {
        fill: #FFFFFF;
    }

    .elementor-646 .elementor-element.elementor-element-3d2b091 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu .sub-menu li:hover>a {
        color: var(--e-global-color-cb49a55);
    }

    .elementor-646 .elementor-element.elementor-element-3d2b091 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu .sub-menu li:hover>a svg {
        fill: var(--e-global-color-cb49a55);
    }

    .elementor-646 .elementor-element.elementor-element-3d2b091 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu .sub-menu li.current-menu-item>a {
        color: var(--e-global-color-cb49a55);
    }

    .elementor-646 .elementor-element.elementor-element-3d2b091 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu .sub-menu li.current-menu-item>a svg {
        fill: var(--e-global-color-cb49a55);
    }

    .elementor-646 .elementor-element.elementor-element-3d2b091 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu li.menu-item-has-children .sub-menu {
        min-width: 220px;
    }

    .elementor-646 .elementor-element.elementor-element-3d2b091 .jeg-elementor-kit.jkit-nav-menu .jkit-hamburger-menu {
        float: right;
        border-width: 0px 0px 0px 0px;
        color: #FFFFFF;
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-646 .elementor-element.elementor-element-3d2b091 .jeg-elementor-kit.jkit-nav-menu .jkit-hamburger-menu i {
        font-size: 33px;
    }

    .elementor-646 .elementor-element.elementor-element-3d2b091 .jeg-elementor-kit.jkit-nav-menu .jkit-hamburger-menu svg {
        width: 33px;
        fill: #FFFFFF;
    }

    .elementor-646 .elementor-element.elementor-element-3d2b091 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-nav-identity-panel .jkit-close-menu {
        border-width: 0px 0px 0px 0px;
        border-radius: 0px 0px 0px 0px;
        color: #FFFFFF;
    }

    .elementor-646 .elementor-element.elementor-element-3d2b091 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-nav-identity-panel .jkit-close-menu svg {
        fill: #FFFFFF;
    }

    .elementor-646 .elementor-element.elementor-element-3d2b091 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-nav-identity-panel .jkit-nav-site-title .jkit-nav-logo img {
        max-width: 260px;
        object-fit: cover;
    }

    .elementor-646 .elementor-element.elementor-element-3d2b091 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-nav-identity-panel .jkit-nav-site-title .jkit-nav-logo {
        margin: 10px 0px 0px 20px;
    }

    .elementor-646 .elementor-element.elementor-element-59d294f .elementor-button {
        font-size: var(--e-global-typography-1039f34-font-size);
        line-height: var(--e-global-typography-1039f34-line-height);
        letter-spacing: var(--e-global-typography-1039f34-letter-spacing);
        word-spacing: var(--e-global-typography-1039f34-word-spacing);
    }
}

@media(max-width:767px) {
    .elementor-646 .elementor-element.elementor-element-7f24b7b {
        width: 50%;
    }

    .elementor-646 .elementor-element.elementor-element-0bbe159 {
        width: 50%;
    }

    .elementor-646 .elementor-element.elementor-element-3d2b091 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu {
        justify-content: flex-start;
    }

    .elementor-646 .elementor-element.elementor-element-3d2b091 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper {
        height: 80px;
    }

    .elementor-646 .elementor-element.elementor-element-3d2b091 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu .sub-menu li a {
        font-size: var(--e-global-typography-accent-font-size);
    }

    .elementor-646 .elementor-element.elementor-element-3d2b091 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu .sub-menu li>a {
        color: #FFFFFF;
    }

    .elementor-646 .elementor-element.elementor-element-3d2b091 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu .sub-menu li>a svg {
        fill: #FFFFFF;
    }

    .elementor-646 .elementor-element.elementor-element-3d2b091 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu .sub-menu li:hover>a {
        color: var(--e-global-color-cb49a55);
    }

    .elementor-646 .elementor-element.elementor-element-3d2b091 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu .sub-menu li:hover>a svg {
        fill: var(--e-global-color-cb49a55);
    }

    .elementor-646 .elementor-element.elementor-element-3d2b091 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu .sub-menu li.current-menu-item>a {
        color: var(--e-global-color-cb49a55);
    }

    .elementor-646 .elementor-element.elementor-element-3d2b091 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu .sub-menu li.current-menu-item>a svg {
        fill: var(--e-global-color-cb49a55);
    }

    .elementor-646 .elementor-element.elementor-element-3d2b091 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu li.menu-item-has-children .sub-menu {
        min-width: 220px;
    }

    .elementor-646 .elementor-element.elementor-element-3d2b091 .jeg-elementor-kit.jkit-nav-menu .jkit-hamburger-menu {
        float: right;
    }

    .elementor-646 .elementor-element.elementor-element-3d2b091 .jeg-elementor-kit.jkit-nav-menu .jkit-hamburger-menu i {
        font-size: 27px;
    }

    .elementor-646 .elementor-element.elementor-element-3d2b091 .jeg-elementor-kit.jkit-nav-menu .jkit-hamburger-menu svg {
        width: 27px;
    }

    .elementor-646 .elementor-element.elementor-element-3d2b091 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-nav-identity-panel .jkit-nav-site-title .jkit-nav-logo img {
        max-width: 240px;
        object-fit: cover;
    }

    .elementor-646 .elementor-element.elementor-element-59d294f .elementor-button {
        font-size: var(--e-global-typography-1039f34-font-size);
        line-height: var(--e-global-typography-1039f34-line-height);
        letter-spacing: var(--e-global-typography-1039f34-letter-spacing);
        word-spacing: var(--e-global-typography-1039f34-word-spacing);
    }
}

@media (max-width: 1024px) {
    .elementor-element.elementor-element-3d2b091 .jeg-elementor-kit.jkit-nav-menu .jkit-hamburger-menu {
        display: block;
    }
}

@media (max-width: 1024px) {
    .elementor-element.elementor-element-3d2b091 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper {
        width: 100%;
        max-width: 360px;
        border-radius: 0;
        background-color: #f7f7f7;
        width: 100%;
        position: fixed;
        top: 0;
        left: -110%;
        height: 100% !important;
        box-shadow: 0 10px 30px 0 rgba(255, 165, 0, 0);
        overflow-y: auto;
        overflow-x: hidden;
        padding-top: 0;
        padding-left: 0;
        padding-right: 0;
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-end;
        -moz-transition: left .6s cubic-bezier(.6, .1, .68, .53), width .6s;
        -webkit-transition: left .6s cubic-bezier(.6, .1, .68, .53), width .6s;
        -o-transition: left .6s cubic-bezier(.6, .1, .68, .53), width .6s;
        -ms-transition: left .6s cubic-bezier(.6, .1, .68, .53), width .6s;
        transition: left .6s cubic-bezier(.6, .1, .68, .53), width .6s;
    }
}

@media (max-width: 1024px) {
    .elementor-element.elementor-element-3d2b091 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper.active {
        left: 0;
    }
}

@media (max-width: 1024px) {
    .elementor-element.elementor-element-3d2b091 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu-container {
        overflow-y: hidden;
    }
}

@media (max-width: 1024px) {
    .elementor-element.elementor-element-3d2b091 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-nav-identity-panel {
        padding: 10px 0px 10px 0px;
        display: block;
        position: relative;
        z-index: 5;
        width: 100%;
    }
}

@media (max-width: 1024px) {
    .elementor-element.elementor-element-3d2b091 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-nav-identity-panel .jkit-nav-site-title {
        display: inline-block;
    }
}

@media (max-width: 1024px) {
    .elementor-element.elementor-element-3d2b091 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-nav-identity-panel .jkit-close-menu {
        display: block;
    }
}

@media (max-width: 1024px) {
    .elementor-element.elementor-element-3d2b091 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu {
        display: block;
        height: 100%;
        overflow-y: auto;
    }
}

@media (max-width: 1024px) {
    .elementor-element.elementor-element-3d2b091 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu li.menu-item-has-children>a i {
        margin-left: auto;
        border: 1px solid var(--jkit-border-color);
        border-radius: 3px;
        padding: 4px 15px;
    }
}

@media (max-width: 1024px) {
    .elementor-element.elementor-element-3d2b091 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu li.menu-item-has-children>a svg {
        margin-left: auto;
        border: 1px solid var(--jkit-border-color);
        border-radius: 3px;
    }
}

@media (max-width: 1024px) {
    .elementor-element.elementor-element-3d2b091 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu li.menu-item-has-children .sub-menu {
        position: inherit;
        box-shadow: none;
        background: none;
    }
}

@media (max-width: 1024px) {
    .elementor-element.elementor-element-3d2b091 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu li {
        display: block;
        width: 100%;
        position: inherit;
    }
}

@media (max-width: 1024px) {
    .elementor-element.elementor-element-3d2b091 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu li .sub-menu {
        display: none;
        max-height: 2500px;
        opacity: 0;
        visibility: hidden;
        transition: max-height 5s ease-out;
    }
}

@media (max-width: 1024px) {
    .elementor-element.elementor-element-3d2b091 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu li .sub-menu.dropdown-open {
        display: block;
        opacity: 1;
        visibility: visible;
    }
}

@media (max-width: 1024px) {
    .elementor-element.elementor-element-3d2b091 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu li a {
        display: block;
    }
}

@media (max-width: 1024px) {
    .elementor-element.elementor-element-3d2b091 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu li a i {
        float: right;
    }
}

@media (max-width: 1024px) {
    .elementor-element.elementor-element-3d2b091 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu li a svg {
        float: right
    }
}

@media (min-width: 1025px) {
    .elementor-element.elementor-element-3d2b091 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu-container {
        height: 100%;
    }
}
