.elementor-654 .elementor-element.elementor-element-6507e88 .elementor-icon {
  display: grid;
}

.elementor-654 .elementor-element.elementor-element-4297a0b {
  margin-top: 30px;
}

.elementor-646 .elementor-element.elementor-element-3d2b091 .jeg-elementor-kit.jkit-nav-menu .jkit-menu-wrapper .jkit-menu>li:hover>a {
  color: #82bfae;
}

.elementor-646 .elementor-element.elementor-element-59d294f .elementor-button {
  color: #7d4427;
  background-color: #fff;
  text-transform: uppercase;
  font-weight: 600;
}

.elementor-663 .elementor-element.elementor-element-6fee41d:not(.elementor-motion-effects-element-type-background), .elementor-663 .elementor-element.elementor-element-6fee41d > .elementor-motion-effects-container > .elementor-motion-effects-layer,
.elementor-654 .elementor-element.elementor-element-ee27cd1 .elementor-button,
.elementor-663 .elementor-element.elementor-element-ac61e1c .jeg-elementor-kit.jkit-progress-bar .progress-group .progress-skill-bar .skill-bar .skill-track,
.elementor-7 .elementor-element.elementor-element-c9048bf .elementor-button,
.elementor-7 .elementor-element.elementor-element-4300898 .jeg-elementor-kit.jkit-progress-bar .progress-group .progress-skill-bar .skill-bar .skill-track,
.elementor-7 .elementor-element.elementor-element-770e7b6:not(.elementor-motion-effects-element-type-background), .elementor-7 .elementor-element.elementor-element-770e7b6>.elementor-motion-effects-container>.elementor-motion-effects-layer,
.elementor-7 .elementor-element.elementor-element-91c3ca1 .jeg-elementor-kit.jkit-icon-box .jkit-icon-box-wrapper,
.elementor-785 .elementor-element.elementor-element-f0444e0 .elementor-button,
.elementor-1003 .elementor-element.elementor-element-5e6abd0 .elementor-button {
  background-color: #7d4427 !important;
}

.elementor-7 .elementor-element.elementor-element-7470e0e:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap, .elementor-7 .elementor-element.elementor-element-7470e0e>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
  /* background-image: linear-gradient(170deg, #2e4600 84%, #F2295B00 56%); */
  background: transparent !important;
}

.elementor-7 .elementor-element.elementor-element-ef5dacd .elementor-heading-title,
.elementor-7 .elementor-element.elementor-element-93a4b5c .elementor-heading-title,
.elementor-7 .elementor-element.elementor-element-9c43a1a .elementor-heading-title,
.elementor-7 .elementor-element.elementor-element-34d5052 .elementor-heading-title,
.elementor-663 .elementor-element.elementor-element-9bf96d7 .elementor-heading-title,
.elementor-785 .elementor-element.elementor-element-9e2e530 .elementor-heading-title,
.elementor-1358 .elementor-element.elementor-element-4722c57 .elementor-heading-title,
.elementor-773 .elementor-element.elementor-element-2f85c9d .elementor-heading-title {
  color: #7d4427;
}

.elementor-kit-3 {
  --e-global-color-cb49a55: #7d4427;
  --e-global-typography-accent-font-family: "Sans-serif";
  --e-global-typography-text-font-family:"Sans-serif";
  --e-global-typography-c74f6dd-font-family:"Sans-serif";
}

.jkit-color-scheme {
  --jkit-success-border-color: #7d4427;
}

.elementor-widget-divider:not(.elementor-widget-divider--view-line_text):not(.elementor-widget-divider--view-line_icon) .elementor-divider-separator {
  --divider-color: #7d4427 !important;
}

.elementor-646 .elementor-element.elementor-element-bd03a0f img {
  width: 95px;
}

header .elementor-section.elementor-top-section.elementor-element.elementor-element-bcaa3c6.elementor-section-boxed.elementor-section-height-default.elementor-section-height-default {
  background-color: #7d4427;
}

.elementor-654 .elementor-element.elementor-element-8ad3d66 img {
  width: 150px;
}
